.pettrakr-container {
    background: url('../../images/cover-cat.jpg') center center/cover no-repeat; /* https://pixabay.com/photos/maine-coon-cat-cat-s-eyes-black-cat-694730/ */
    height: 100vh;
    width: 100%;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.pettrakr-container > h1{
    color: #fff;
    font-size: 100px;
    margin-top: 0px;
    text-align: center;
}

.pettrakr-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
}

.pettrakr-btns {
    margin-top: 32px;
}

@media screen and (max-width:960px) {
    .pettrakr-container > h1{
        font-size: 70px;
    }    
}

@media screen and (max-width:768px) {
    .pettrakr-container > h1{
        font-size: 58px;
    }    

    .pettrakr-container > p {
        font-size: 26px;
    }
}
