.crate-container {
    /* background: url('../../images/cover-cat.jpg') center center/cover no-repeat; https://pixabay.com/photos/maine-coon-cat-cat-s-eyes-black-cat-694730/ */
    background: rgb(16,21,34);
    background: linear-gradient(180deg, rgba(16,21,34,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    }

    .crate-card-container {
        /* background: url('../../images/cover-cat.jpg') center center/cover no-repeat; https://pixabay.com/photos/maine-coon-cat-cat-s-eyes-black-cat-694730/ */
        display: flex;
        position:relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }

.crate-card {
    background-color: #fff;
    width:400px;
    height:auto;
    margin:10px;
    border-radius:10px;
}

.crate-card-image {
    background-color: #e6e6e6;
    height: 300px;
    width: auto;
    margin: 15px;
    background-size: cover;
    /* border-radius:10px 10px 0px 0px; */
    border-radius: 10px;
}

.crate-container > h1{
    color: #fff;
    text-align: center;
    font-size: 70px;
}

.crate-blurb {
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crate-blurb > p {
    color:#6e7179;
    text-align: center;
    margin-right: 100px;
    margin-left:100px;
    margin-top: 20px;;
    font-size: 20px;
}


@media screen and (max-width:960px) {
    .crate-container > h1{
        font-size: 50px;
    }   
    
    .crate-blurb > p {
            margin-right: 10px;
            margin-left:10px;
            font-size: 28px;
    }
}

@media screen and (max-width:768px) {
    .crate-container > h1{
        font-size: 48px;
    }    

    .crate-container > p {
        font-size: 26px;
    }
}

