@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Averia+Serif+Libre:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Averia Serif Libre', cursive;
}